{% extends "base.html" %}

{% block title %}All Stocks{% endblock %}

{% block content %}
<h2 class="mb-4">Available Stocks</h2>

<div class="row">
    {% for ticker in tickers %}
    <div class="col-md-3 mb-3">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">{{ ticker['ticker'] }}</h5>
                <a href="{{ url_for('stock_detail', ticker=ticker['ticker']) }}" class="btn btn-primary btn-sm">View Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
